<?php

define('SS_ENVIRONMENT_TYPE', 'dev');

define('SS_DATABASE_SERVER', 'localhost');
define('SS_DATABASE_USERNAME', '{{ mysql_username }}');
define('SS_DATABASE_PASSWORD', '{{ mysql_password }}');

define('SS_DEFAULT_ADMIN_USERNAME', 'admin');
define('SS_DEFAULT_ADMIN_PASSWORD', 'password');

